/******************************************************************************/
/* General styles */

html, body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
	line-height: 1.9;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

em {
    font-size: 12px;
    font-style: italic;
}

strong {
	font-weight: bold;
}

a, a:visited {
	color: #3BE;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


/******************************************************************************/
/* Layout */

.container {
    margin: 20px auto;
    width: 100%;
    max-width: 900px;
}

#data { /* left column */
    text-align: center;
}

#data, #work-experience, #education, header h1, header h2 {
    box-sizing: border-box;
    padding: 0 20px;
}


/******************************************************************************/
/* Header */

header {
    background-image: url('img/blackmamba_@2X.png');
    color: #EEE;
    font-family: 'Poiret One', cursive;
    overflow: auto;
    padding: 10px 0;
    text-align: center;
}

h1 {
	font-size: 40px;
    line-height: 1;
    margin-bottom: 15px;
}

h2 {
	font-size: 150%;
    font-style: italic;
}


/******************************************************************************/
/* Left column */

#data h4 {
	font-size: 16px;
	font-weight: bold;
    margin-bottom: 5px;
}
#data h4:not(:first-of-type) {
    margin-top: 30px;
}

#data p {
    margin-bottom: 10px;
}

.tag-list li {
	display: inline;
}

.tag-list li:not(:last-child):after {
	content: ", ";
}

/******************************************************************************/
/* Right column */

h3 {
    color: #444;
    font-size: 150%;
    font-weight: bold;
	margin: 40px 0 20px;
    text-align: center;
}

div.job {
	margin-top: 30px;
}

h5.timeline {
    color: #000;
    font-size: 12px;
    font-style: italic;
}

h5.position {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin: 8px 0;
}

.topics-list li::before, .bullet-list li::before {
	content: '\2713\00a0';
}

.company-description, .fineprint {
	color: #777;
    font-size: 90%;
    font-style: italic;
}

.job-description {
    color: #777;
    font-size: 13px;
    font-style: italic;
    line-height: 18px;
    margin: 5px 0;
}


/******************************************************************************/
/* Education */

#education h5.position {
	font-weight: normal;
}

#education .position strong {
    display: block;
    margin-top: 5px;
}

#education dl dt {
    clear: both;
    float: left;
}

#education dl dt::after {
	content: '\00a0';
}

#education dl dd {
    color: #222;
    float: left;
}

#education dl dd::after {
	clear: both;
	content: "";
}

#education dl::after {
    display: block;
    clear: both;
    content: "";
}

.fineprint {
	clear: both;
}

/******************************************************************************/
/* Footer */
footer {
    border-top: solid 1px #EEE;
    margin: 40px 15%;
}

/************************/
@media (min-width: 680px) {
    #data, header h1 {
        border-right: solid 1px #EEE;
        float: left;
        text-align: right;
        width: 35%;
    }

    #work-experience, #education, header h2 {
        margin-left: 35%;
    }

    header h2 {
        font-style: normal;
        line-height: 40px;
        text-align: left;
    }

    h3 {
        text-align: left;
    }
}