/******************************************************************************/
/* General styles */

html, body {
	font-family: 'Roboto', sans-serif;
	line-height: 180%;
	font-size: 14px;
}

em {
	font-style: italic;
	font-size: 12px;
}

strong {
	font-weight: bold;
}

a, a:visited {
	color: #3BE;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


/******************************************************************************/
/* Layout */

#data { /* left column */
	float: left;
	width: 300px;
	margin-left: 15%;
	margin-right: 20px;
}

#work-experience, #education { /* right column */
	display: block;
	margin-left: 16%;
	padding-left: 320px;
	padding-right: 15%;
	max-width: 720px;
}


/******************************************************************************/
/* Header */

header {
	font-family: 'Poiret One', cursive;
	color: #EEE;
	overflow: auto;
	padding: 40px 0;
	background-image: url('img/blackmamba_@2X.png');
}

h1, h2 {
	float:left;
	height: 100%;
}

h1 {
	font-size: 300%;
	padding-right: 10px;
	border-right: solid 1px #EEE;
	text-align: right;
	width: 300px;
	margin-left: 15%;
	padding-right: 20px;
}

h2 {
	font-size: 150%;
	margin-left: 20px;
}


/******************************************************************************/
/* Left column */

#data {
	padding-right: 20px;
	margin-top: 20px;
	border-right: solid 1px #EEE;
	text-align: right;
}

#data h4 {
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
}

.tag-list li {
	display: inline;
}

.tag-list li::after {
	content: ", ";
}

.tag-list li:last-child::after {
	content: "";
}

/******************************************************************************/
/* Right column */

#work-experience, #education {
	margin-top: 20px;
}

h3 {
	font-weight: bold;
	font-size: 150%;
	color: #444;
	margin: 40px 0 20px;
}

div.job {
	margin-top: 20px;
}

h5.timeline {
	font-weight: bold;
	font-style: italic;
	font-size: 90%;
	color: #000;
}

h5.position {
	font-weight: bold;
	font-size: 120%;
	color: #000;
}

.topics-list li::before, .bullet-list li::before {
	content: '\2713\00a0';
}

.bullet-list {
	margin-left: 10px;
}

.company-description, .fineprint {
	color: #777;
	font-style: italic;
	font-size: 90%;
}

.job-description {
	font-style: italic;
	font-size: 13px;
	line-height: 18px;
	margin: 5px 0;
	color: #777;
}


/******************************************************************************/
/* Education */

#education h5.position {
	font-weight: normal;
}

#education dl dt {
	float: left;
	clear: both;
}

#education dl dt::after {
	content: '\00a0';
}

#education dl dd {
	float: left;
	color: #222;
}

#education dl dd::after {
	clear: both;
	content: "";
}

#education dl::after {
	clear: both;
	display: block;
	content: "";
}

.fineprint {
	clear: both;
}

/******************************************************************************/
/* Footer */
footer {
	margin: 40px 15%;
	border-top: solid 1px #EEE;
}

